@import '@styles/vars';
@import '@styles/mixins';

.carbon-badge {
  @include flex(center, center, row);

  gap: 0.8rem;

  min-width: fit-content;
  padding: 0.4rem 0.8rem;

  font-size: 0.8rem;
  font-weight: lighter;
  white-space: no-wrap;

  background-color: $accent;
  border-radius: 50px;

  p,
  svg {
    color: $white;
  }
}
