@import '@styles/vars.scss';
@import '@styles/mixins.scss';

.carbonBadge {
  @include flex(center, center, row);
  gap: 0.8rem;
  padding: 0.4rem 0.8rem;

  white-space: no-wrap;
  background-color: $accent;
  border-radius: 50px;
  font-weight: lighter;
  min-width: fit-content;
  font-size: 0.8rem;

  p,
  svg {
    color: $white;
  }
}
