@use 'sass:color';

@import '@styles/vars';
@import '@styles/mixins';

.button {
  cursor: pointer;

  padding: 0.8rem 1.6rem;

  color: $white;

  background-color: $accent;
  border: none;
  border-radius: 0.8rem;

  transition: 0.1s;

  &:hover {
    background-color: color.adjust($accent, $lightness: -10%);
  }

  &:active {
    scale: 0.98;
    background-color: color.adjust($accent, $lightness: -20%);
  }
}
