@import '@styles/vars.scss';
@import '@styles/mixins.scss';

.container {
  position: relative;
  min-height: 100dvh;
  background-image: url('https://images.unsplash.com/photo-1566737236500-c8ac43014a67?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: right;
  background-attachment: fixed;

  @include responsive(sm) {
    background-position: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
      url('https://images.unsplash.com/photo-1566737236500-c8ac43014a67?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  }
}

.content {
  background-color: rgba($background, 0.8);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  padding: 3.2rem;
  width: 100%;

  @include responsive(sm) {
    background-color: transparent;
    position: relative;
    padding: 0.8rem;
  }
}

.title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include responsive(sm) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.8rem;
    margin-top: 9.6rem;
  }
}

.separator {
  margin: 1.6rem 0;
  border: none;
  border-top: 1px solid $text;

  @include responsive(sm) {
    opacity: 0.3;
  }
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2.4rem;
}

.footer {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.8rem;
  white-space: pre-wrap;

  @include responsive(sm) {
    margin: 3.2rem 0;
    white-space: normal;
  }
}
