@import '@styles/mixins';

.container {
  gap: 2.4rem;
  min-height: 100dvh;
  white-space: pre-wrap;

  @include flex(center, center, row);

  @include responsive(sm) {
    padding: 0.8rem;
    white-space: normal;

    @include flex(center, center, column);
  }
}

.text {
  button {
    margin-top: 2.4rem;
  }
}
