@import '@styles/mixins';

.container {
  gap: 2.4rem;
  min-height: 100dvh;

  @include flex(center, center, row);

  @include responsive(sm) {
    padding: 0.8rem;

    @include flex(center, center, column);
  }
}

.text {
  width: 40%;

  button {
    margin-top: 2.4rem;
  }
}
