@import '@styles/vars';
@import '@styles/mixins';

.container {
  @include flex(center, flex-start, column);

  gap: 1.8rem;

  min-height: 100dvh;
  padding: 3.2rem;

  white-space: pre-wrap;

  background-image: url('https://images.unsplash.com/photo-1592390573190-bfcc5222adec?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  @include responsive(sm) {
    padding: 0.8rem;

    @include flex(flex-start, flex-start, column-reverse);
  }
}

.box {
  width: 30%;
  padding: 1.6rem;

  color: $text-inverted;

  background-color: $white;
  border-right: 0.5rem solid $primary;
  border-radius: 0.5rem;
}
