@import '@styles/vars';
@import '@styles/mixins';

.container {
  padding: 1.8rem;
  color: $text-light;
  text-align: center;
  background-color: $background-light;
}

.links {
  @include flex(center, center, row);

  gap: 1.8rem;
  margin-bottom: 1.8rem;
  list-style: none;

  li,
  button {
    color: $text-light;
    background: none;
    border: none;
    transition: 0.2s;

    a {
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
      color: $primary-light;
    }

    &:active {
      transform: translateY(3px);
    }
  }
}
