// @media (prefers-color-scheme: light) {
//   $text: #080d11;
//   $background: 248, 251, 252;
//   $primary: #2f5165;
//   $secondary: #9a8cca;
//   $accent: #754da3;
// }

$text: #eef3f7;
$background: 3, 6, 7;
$primary: #9abcd0;
$secondary: #443573;
$accent: #845cb2;
