$text-light: #080d11;
$text-inverted-light: #eef3f7;
$background-light: #f8fbfc;
$primary-light: #2f5165;
$secondary-light: #9a8cca;
$accent-light: #754da3;

$white: #eef3f7;
$black: #080d11;

$text: #eef3f7;
$text-inverted: #080d11;
$background: #030607;
$primary: #9abcd0;
$secondary: #443573;
$accent: #845cb2;
