@import '@styles/mixins';

.container {
  display: flex;
  gap: 0.8rem;
  align-items: flex-start;
  justify-content: flex-start;

  white-space: pre-wrap;

  @include responsive(sm) {
    white-space: normal;
  }
}

.icon {
  margin-top: 0.4rem;
}
