@import '@styles/vars';
@import '@styles/mixins';

.container {
  @include flex(center, center, column);

  gap: 1.8rem;

  min-height: 100dvh;
  padding: 3.2rem;

  text-align: center;
  white-space: pre-wrap;

  background-position: center;
  background-size: cover;

  @include responsive(sm) {
    padding: 0.8rem;

    @include flex(flex-start, flex-start, column-reverse);
  }
}

.accordion-container {
  @include flex(flex-start, flex-start, column);

  gap: 0.8rem;
}
