@import '@styles/vars';
@import '@styles/mixins';

.container {
  @include flex(space-around, center, row);

  gap: 1.8rem;

  min-height: 100dvh;
  padding: 3.2rem;

  text-align: center;
  white-space: pre-wrap;

  background-position: center;
  background-size: cover;

  @include responsive(sm) {
    padding: 0.8rem;

    @include flex(flex-start, flex-start, column-reverse);
  }
}

.section {
  width: 40%;
}

.left-side {
  height: 90dvh;
  background-image: url('https://images.unsplash.com/photo-1487180144351-b8472da7d491?q=80&w=2944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-size: cover;
}

.right-side {
  ul {
    @include flex(flex-start, flex-start, column);

    gap: 3.2rem;
  }
}
