@import '@styles/vars';
@import '@styles/mixins';

.container {
  gap: 2.4rem;

  min-height: 100dvh;
  padding: 3.2rem;

  white-space: pre-wrap;

  background-image: linear-gradient(
      90deg,
      rgba($background, 1) 0%,
      rgba($background, 1) 50%,
      rgb(0 212 255 / 0%) 100%
    ),
    url('https://images.unsplash.com/photo-1609702847389-b8aec1b0b929?q=80&w=3063&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;

  @include flex(center, flex-start, column);

  @include responsive(sm) {
    padding: 0.8rem;
    white-space: normal;
  }
}
