@import '@styles/vars.scss';
@import '@styles/mixins.scss';

.container {
  @include flex(space-between, center, row);
  min-height: 100dvh;
  padding: 3.2rem;
  gap: 3.2rem;
}

.leftSide {
  width: 45%;
  @include responsive(sm) {
    width: 100%;
  }
}

.verticalLine {
  width: 1px;
  height: 90dvh;
  background-color: rgba($text, 0.1);
}

.rightSide {
  width: 45%;
  @include responsive(sm) {
    width: 100%;
  }
}

.img {
  height: 90dvh;
  object-fit: cover;
}
